:root{
    --white: #fff;
    --primaryColor: #f1f1f1;
    --default: #4a1667;
    --dark-color: #222;
    --black: #000;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size: 62.5%;
}

body,
input{
    position: relative;
    font-family: 'Dosis', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
}

img{
    max-width: 100%;
    max-height: 100%;
}

a {
    text-decoration: none;
}

ul,
li{
    list-style: none;
}

h2,
h3 {
    font-weight: 500;
}

.container{
    width: 100%;
    max-width: 114rem;
    margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
    .container {
        padding: 0.3rem;
    }
}

.flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Header */
.header{
    position: relative;
    height: 100vh;
    background-color: var(--primaryColor);
}

.nav {
    padding: 1.6rem 0;
}

.logo h1 {
    font-size: 40px;
}

.cart img {
    width: 3rem;
    height: 3rem;
}

.hamburger {
    display: none;
}

.nav_close {
    display: none;
}

.nav_center,
.nav_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_menu{
    width: 50%;
}

.nav_list {
    display: flex;
    width: 70%;
}

.nav_item:last-child {
    margin-right: .5rem;
}

.button {
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 500;
}

.nav_link:link,
.nav_link:visited {
    color: var(--dark-color);
    padding: 1rem;
}

.cart {
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .nav_menu {
        padding: 0 2rem;
    }

    .nav_list {
        flex-direction: column;
        position: fixed;
        top: 0;
        left: -40rem;
        padding: 3rem 0;
        width: 30rem;
        height: 100%;
        background-color: var(--white);
        z-index: 50;
        transition: all 300ms ease-in-out;
    }

    .nav_item {
        width: 100%;
        margin: 1rem 0;
    }

    .nav_item:last-child {
        margin-right: 0;
    }

    .nav_link:link,
    .nav_link:visited {
        display: block;
        font-size: 2rem;
    }

    .hamburger {
        margin-top: 15px;
        display: flex;
        cursor: pointer;
    }

    .hamburger img {
        width: 3.5rem;
        height: 3.5rem;
    }

    .nav_close {
        display: flex;
        cursor: pointer;
        position: absolute;
        top: 5%;
        right: 2rem;
    }

    .nav_close img {
        width: 2rem;
        height: 2rem;
    }

    .cart {
        justify-content: flex-end;
        margin-top: 15px;
    }

    body.active::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 3;
    }
}

.hero{
    position: relative;
    height: 100%;
}

.hero_center {
    display: flex;
    height: 100%;
}

.hero_left {
    flex: 1 1 40%;
    align-self: center;
}

.hero_right {
    flex: 1 1 60%;
    background-image: url(./images/banner2.png);
    background-position: 90% 40%;
    background-size: 70%;
    background-repeat: no-repeat;
}

.hero_left h1 {
    color: var(--default);
    font-size: 7rem;
    margin-bottom: 1.6rem;
}

.hero_left p {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 1px;
    margin-bottom: 2.5rem;
}

.hero_btn {
    color: var(--white);
    padding: 1.2rem 4rem;
    background-color: var(--default);
}

.go-down img {
    width: 3rem;
    height: 3rem;
    fill: var(--white);
}

.go-down {
    padding: .5rem;
    position: absolute;
    left: 50%;
    bottom: 2%;
    transform: translate(-50%, -50%);
    background-color: var(--default);
    border-radius: 50%;
    animation: bounce 2s linear infinite;
}

@keyframes bounce {
    0% {
        bottom: 0;
    }

    50% {
        bottom: 3%;
    }

    100% {
        bottom: 0%;
    }
}

@media only screen and (max-width: 996px) {
    .header {
        height: 40vh;
    }
}

@media only screen and (max-width: 768px) {
    .header {
        height: 90vh;
    }

    .hero_center {
        flex-direction: column;
        justify-content: start;
    }

    .hero_left {
        margin-top: 10%;
        width: 80%;
    }

    .hero_right {
        background-position: 50% center;
    }
}

@media only screen and (max-width: 768px) {
    .hero_right {
        background-size: 80%;
    }

    .hero_left {
        margin-top: 30%;
    }

    .hero_left h1{
        font-size: 4rem;
    }

    .hero_left p{
        font-size: 1.5rem;
    }

    .hero_btn{
        font-size: 1.5rem;
        padding: .7rem 2rem;
    }

    .go-down {
        display: none;
    }
}

/* new */
.section {
    padding: 5rem 0;
}

.new {
    margin-top: 10rem;
}

.product_footer img {
    width: 1.6rem;
    height: 1.6rem;
}

.title {
    text-align: center;
    margin-bottom: 7rem;
}

.title h1 {
    position: relative;
    display: inline-block;
    font-size: 3.5rem;
}

.title h1::after {
    content: "";
    position: absolute;
    display: inline-block;
    bottom: -60%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: .5rem;
    width: 40%;
    background-color: var(--default);
}

.product_center {
    display: grid;
    grid-template-columns: repeat(4, minmax(auto, 1fr));
    gap: 2rem 3rem;
    justify-content: center;
}

.product_header span img {
    width: 3rem;
    height: 3rem;
}

.product_header span {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 1rem;
    transform: translate(-50%, -50%);
    background-color: var(--primaryColor);
    border-radius: 100%;
    visibility: hidden;
    opacity: 0;
    z-index: 6;
    transition: all 300ms ease-in-out;
}

.product {
    text-align: center;
    background-color: var(--primaryColor);
}

.product_header {
    height: 20rem;
    position: relative;
}

.product_header img {
    height: 180px;
    width: 180px;
    margin: 20px 0;
}

.product_header::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    opacity: 0;
    transition: all 300ms ease-in-out;
}

.product:hover .product_header::after,
.product:hover .product_header span {
    visibility: visible;
    opacity: 1;
}

.product_footer {
    padding: .5rem 0;
}

.product_footer h2 {
    margin-bottom: 1rem;
}

.product_footer h4 {
    margin: 1rem 0;
    font-size: 2rem;
    font-weight: 700;
}

@media only screen and (max-width: 996px) {
    .product_center {
        grid-template-columns: repeat(3, minmax(auto, 1fr));
        gap: 2rem 2rem;
    }

    .product_footer h2 {
        font-size: 1.8rem;
    }
    
    .product_footer h4 {
        font-size: 1.6rem;
    }
    
    .product_header {
        height: 13rem;
    }
}

@media only screen and (max-width: 567px) {
    .product_center {
        grid-template-columns: repeat(2, minmax(auto, 1fr));
    }

    .product_header {
        height: 10rem;
    }
}

.category_center {
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 50rem));
    column-gap: 4rem;
    justify-content: space-evenly;
}

.category_left,
.category_right {
    display: flex;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    border-radius: 1rem;
    justify-content: space-evenly;
    padding: 1.6rem;
}

.category_left img,
.category_right img {
    width: 20rem;
}

.category .content h2 {
    font-size: 3rem;
}

.category .content h1 {
    font-size: 3rem;
    line-height: 1;
    margin: 1rem 0 1.6rem 0;
}

.category .category_btn {
    background-color: var(--default);
    padding: 1rem 3rem;
    color: var(--white);
    border-radius: 5rem;
    border: 1px solid var(--default);
    transition: all 300ms ease-in-out;
}

.category .category_btn:hover {
    background-color: transparent;
    color: var(--dark-color);
}

@media only screen and (max-width: 800px) {
    .category_center {
        grid-template-columns: repeat(1, minmax(auto, 50rem));
        gap: 3rem 0;
    }
}

@media only screen and (max-width: 568px) {
    .category_left img,
    .category_right img {
        width: 15rem;
    }

    .category .content h2 {
        font-size: 2rem;
    }

    .category .content h1 {
        font-size: 2rem;
    }

    .category .category_btn {
        font-size: 1.4rem;
        padding: 1rem 2rem;
    }
}